{% extends 'base.html' %}

{% block product %}

<h1>Bem vindo a EstoqueWeb!!!</h1><br>
<p>Somos a maior loja de produtos váriados de Volta Redonda.</p>
<p>Para ver o estoque de produtos, clique em "<strong>Produto</strong>" na barra de navegação acima.</p>
<p>Para ver as entradas feitas no estoque, clique em "<strong>Entrada</strong>" na barra de navegação acima.</p>
<p>Para ver as saídas feitas no estoque, clique em "<strong>Saída</strong>" na barra de navegação acima.</p>

{% endblock %}