{% extends 'base.html' %}

{% block product %}

<h1><strong>Saídas</strong></h1><br>
<a class="button is-primary" href="{% url 'saida:new_saida' %}">Nova Saída</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Produto</th>
            <th>Preço</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        {% for saida in saidas %}
        <tr>
            <th>{{ saida.id }}</th>
            <td>{{ saida.produto }}</td>
            <td>{{ saida.preco }}</td>
            <td>{{ saida.quantidade }}</td>
            <td><a class="button is-primary" href="{% url 'saida:update_saida' saida.id %}">Alterar</a></td>
            <td><a class="button is-primary" href="{% url 'saida:delete_saida' saida.id %}">Deletar</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
